$black: black;
$white: white;
$lightgrey: #f6f6f6;
$red: #f23f3f;
$blue: #05a8c1;
$grey: #acacac;
$black-08: rgba(0, 0, 0, 0.8);
$black-005: rgba(0, 0, 0, 0.05);
$grey-0125: rgba(102, 102, 102, 0.125);