@import "./assets/scss/color.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Roboto Font */
body {
  font-family: "Roboto", sans-serif;
}

/*Container class*/
.container {
  max-width: 900px;
  margin: 0 auto;
}

.container.container-sm {
  max-width: 782px;
}

.container.container-md {
  max-width: 1280px;
}

.container.container-lg {
  max-width: 1440px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.d-grid {
  display: grid;
}

/* Text Alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

/*Font size*/
.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.25rem;
}

.fs-xl {
  font-size: 2.5rem;
}

.fs-xxl {
  font-size: 3.75rem;
}

.fw-bold {
  font-weight: bold;
}

/* Padding classes*/
.p-1 {
  padding: 1rem;
}

.p-auto {
  padding: auto;
}

.pt-1 {
  padding-top: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-auto {
  padding: auto;
}

.pt-2 {
  padding-top: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-auto {
  padding: auto;
}

.pt-3 {
  padding-top: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-auto {
  padding: auto;
}

.pt-4 {
  padding-top: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Margin classes*/
.m-1 {
  margin: 1rem;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin: auto 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-auto {
  margin: auto;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-auto {
  margin: auto;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-auto {
  margin: auto;
}

.mt-4 {
  margin-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/*Title and Subtitle */
.title {
  font-size: 3.75rem;
  font-weight: 500;
  margin: 3rem 0;
}

.title-main {
  font-size: 5rem;
  font-weight: 600;
  margin: 4rem 0;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0;
}

/* Width */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

/*Cards  */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  /*Card Header and Footer*/
}

.card-body {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card-header,
.card-footer {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 1rem;
  font-weight: 500;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid rgba(102, 102, 102, 0.125);
}

.card-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: none;
  border-top: 1px solid rgba(102, 102, 102, 0.125);
}

/* Border */
.border-0 {
  border-radius: 0;
}

.border-5 {
  border-radius: 5px;
}

.border-10 {
  border-radius: 10px;
}

.border-15 {
  border-radius: 15px;
}

.border-20 {
  border-radius: 20px;
}

.border-50 {
  border-radius: 50%;
}

/* Btn */
.btn-sm {
  margin: 0.1875rem 0.09375rem;
  padding: 0.2625rem 0.9375rem;
  font-size: 12px;
}

.btn-lg {
  margin: 0.3125rem 0.15625rem;
  padding: 0.4375rem 1.5625rem;
  font-size: 20px;
  background-color: $black;
  color: $white;
}

// .App {
//   background-color: $grey-100;
//   color: $grey-900;
//   height: 100%;
//   margin: 4rem 0 7rem 0;
//   padding: 0;
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   font-family: "Noto Sans", sans-serif;
//   text-align: center;
// }

// /* container */
// .container {
//   max-width: 900px;
//   margin: 0 auto;
//   justify-content: center;
//   align-items: center;
// }

// .container.container-sm {
//   max-width: 782px;
// }

// .container.container-md {
//   max-width: 1280px;
// }

// .container.container-lg {
//   max-width: 1440px;
// }

// /* display */
// .display-flex {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .display-flex-row {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

// /* text alignment */
// .text-center {
//   text-align: center;
// }

// .text-left {
//   text-align: left;
// }

// /* margin */
// .m-075 {
//   margin: 0.75rem 1rem;
// }

// .m-1 {
//   margin: 1rem;
// }

// .mb-3 {
//   margin-bottom: 3rem;
// }

// .mt-3 {
//   margin-top: 3rem;
// }

// .mt-2 {
//   margin-top: 2rem;
// }

// .mb-2 {
//   margin-bottom: 2rem;
// }

// .ml-1 {
//   margin-left: 1rem;
// }

// .mr-05 {
//   margin-right: 0.5rem;
// }

// .mr-1 {
//   margin-right: 1rem;
// }

// .mt-4 {
//   margin-top: 4rem;
// }

// .mb-4 {
//   margin-bottom: 4rem;
// }

// .m-auto {
//   margin: auto;
// }

// /* buttons */
// .btn {
//   margin: 0.25rem 0.5rem;
//   padding: 0.5rem 0.9rem;
//   font-family: inherit;
//   font-size: 1rem;
//   border-radius: 0.3rem;
//   color: $grey-800;
//   background-color: $grey-200;
//   border: none;
//   box-shadow: 0 2px 6px $grey-500;
// }

// .btn:hover {
//   cursor: pointer;
//   box-shadow: none;
//   transition: 0.3s ease;
//   background: $grey-500;
//   color: $grey-800;
//   box-shadow: 0 2px 6px rgba(17, 17, 17);
// }

// .btn-primary {
//   color: $grey-200;
// }

// .btn-primary:hover {
//   color: $grey-200;
// }

// /* uppercase */
// .uppercase {
//   text-transform: uppercase;
// }

// /* font weight */
// .bold {
//   font-weight: bold;
//   ;
// }

// /* font size */
// .small {
//   font-size: small;
// }

// .large {
//   font-size: large;
// }

// .x-large {
//   font-size: x-large;
// }

// .xx-large {
//   font-size: xx-large;
// }

// /* background */
// .bg-light {
//   background-color: $grey-300;
// }

// .text-light {
//   color: $grey-300;
// }

// /* card */
// .card-container {
//   justify-content: left;
//   align-items: center;
// }

// /*Cards  */
// .card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
//   border-radius: 0.5rem;
//   /*Card Header and Footer*/
// }

// .border-50 {
//   border-radius: 50%;
// }

// // .card:hover {
// //   box-shadow: 0 2px 6px rgba(17, 17, 17);
// // }

// .card-content {
//   text-align: center;
// }

// .card-header {
//   color: $grey-200;

//   h3 {
//     margin: 0;
//     padding: 1rem;
//   }
// }

// .card-footer {
//   color: $grey-200;

//   h5 {
//     margin: 0;
//     padding: 0.4rem;
//   }
// }

// .card-body {
//   padding: 3rem 0;
//   background-color: $grey-400;
// }